<div class="container-sm move-down">
  <!-- Card de datos de entrada -->
  <div class="my-3 p-3 bg-body rounded shadow-sm">
    <h5 class="border-bottom pb-2 mb-0">Estudiantes</h5>
    <div class="row mt-3">
      <div class="col-md-5">
        <div class="input-group mb-3">
          <span class="input-group-text" id="btnBuscar"><i class='bx bx-search-alt-2'></i></span>
          <input type="search" class="form-control" placeholder="Buscar..." [(ngModel)]="searchQuery" (input)="onSearch()">
        </div>
      </div>
      <div class="col">
        <select class="form-select" id="searchField" name="searchField" [(ngModel)]="selectedDocumentType" (change)="onSearch()">
          <option value="" selected>Tipo Documento</option>
          <option value="DNI">DNI</option>
          <option value="CE ">CE</option> 
        </select>
      </div>
      <div class="col-md-2">
        <div class="form-check form-check-inline mt-2 mb-2">
          <input class="form-check-input" type="checkbox" id="chkInactivos" [(ngModel)]="Active"
            (change)="ActiveStatus()">
          <label class="form-check-label" for="chkInactivos">{{ Active ? 'Activos' : 'Inactivos' }}</label>
        </div>
      </div>
      <div class="col">
        <select class="form-select" (change)="handleExport($event)">
          <option value="CSV">Exportar a CSV</option>
          <option value="XLSX">Exportar a XLSX</option>
        </select>
      </div>
      <div class="col">
        <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal"
          data-bs-target="#estudianteModal">Agregar</button>
      </div>
    </div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Nombres</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Cumpleaños</th>
        <th scope="col">Telefono</th>
        <th scope="col">Email</th>
        <th scope="col">Tipo Documento</th>
        <th scope="col">N Documento</th>
        <th scope="col">Ubigeo</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of students">
        <td>{{student.name}}</td>
        <td>{{student.lastname}}</td>
        <td>{{student.birthdate | date: 'dd-MMM-yyyy'}}</td>
        <td>{{student.cellphone}}</td>
        <td>{{student.email}}</td>
        <td>{{student.documentType.nameDocument}}</td>
        <td>{{student.documentNumber}}</td>
        <td>{{student.ubigeo.district}}</td>
        <td>
          <div class="selected-gender">
            <span *ngIf="Actions">
              <button type="button" class="btn btn-outline-warning" data-bs-toggle="modal"
                data-bs-target="#estudianteModal" (click)="editStudent(student)">
                <i class='bx bxs-edit-alt' style='color:#f2ae1b'></i>
              </button>
            </span>
            <span *ngIf="Actions" (click)="deleteStudent(student.id)">
              <button type="button" class="btn btn-outline-danger">
                <i class='bx bxs-trash' style='color:#f21b1b'></i>
              </button>
            </span>
            <!-- icono para el activo con la lista inactiva -->
            <span *ngIf="!Actions" (click)="activateStudent(student.id)">
              <button type="button" class="btn btn-outline-success">
                <i class='bx bx-check-double' style='color:#078600'></i>
              </button>
            </span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Formulario para crear Estudiantes -->
  <div class="modal fade" id="estudianteModal" tabindex="-1" aria-labelledby="estudianteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="estudianteModalLabel">
            {{service.studentSelected.id && service.studentSelected  ? 'Actualizar Estudiante': 'Nuevo Estudiante' }}
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            (click)="editCancel()"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formStudent" (ngSubmit)="onSubmit()">
            <input type="hidden" id="accion" name="accion"> <input type="hidden" class="form-control" id="frmId">
            <!-- Nombre -->
            <div class="col-md-12 input-group-sm">
              <label for="name" class="form-label">Nombres*</label>
              <input type="text" class="form-control" id="name" formControlName="name" [ngClass]="{
                       'is-valid': formStudent.get('name')?.valid && formStudent.get('name')?.touched,
                       'is-invalid': formStudent.get('name')?.invalid && formStudent.get('name')?.touched
                     }" required>
              <div *ngIf="formStudent.get('name')?.hasError('required') && formStudent.get('name')?.touched"
                class="error-message" style="color: red; font-size: 12px; text-align: right;">Campo obligatorio.</div>
              <div *ngIf="formStudent.get('name')?.hasError('pattern') && formStudent.get('name')?.touched"
                class="error-message" style="color: red; font-size: 12px; text-align: right;">Solo se permiten letras
              </div>
            </div>
            <!-- Apellido -->
            <div class="col-md-12 input-group-sm">
              <label for="lastname" class="form-label">Apellidos*</label>
              <input type="text" class="form-control" id="lastname" formControlName="lastname" [ngClass]="{
                'is-valid': formStudent.get('lastname')?.valid && formStudent.get('lastname')?.touched,
                'is-invalid': formStudent.get('lastname')?.invalid && formStudent.get('lastname')?.touched
              }" required>
              <div *ngIf="formStudent.get('lastname')?.hasError('required') && formStudent.get('lastname')?.touched"
                class="error-message" style="color: red; font-size: 12px; text-align: right;">Campo obligatorio.</div>
              <div *ngIf="formStudent.get('lastname')?.hasError('pattern') && formStudent.get('lastname')?.touched"
                class="error-message" style="color: red; font-size: 12px; text-align: right;">Solo se permiten letras
              </div>
            </div>
            <!-- Cumpleaños -->
            <div class="col-md-12 input-group-sm">
              <label for="birthdate" class="form-label">Fecha de nacimiento*</label>
              <input type="date" class="form-control" id="birthdate" formControlName="birthdate" [ngClass]="{
                'is-valid': formStudent.get('birthdate')?.valid && formStudent.get('birthdate')?.touched,
                'is-invalid': formStudent.get('birthdate')?.invalid && formStudent.get('birthdate')?.touched
              }" required>
              <div *ngIf="formStudent.get('birthdate')?.hasError('required') && formStudent.get('birthdate')?.touched"
                class="error-message" style="color: red; font-size: 12px; text-align: right;">Campo obligatorio.</div>
            </div>
            <!-- Celular -->
            <div class="col-md-6 input-group-sm">
              <label for="cellphone" class="form-label">Telefono</label>
              <input type="text" class="form-control" id="cellphone" formControlName="cellphone" [ngClass]="{
                       'is-valid': formStudent.get('cellphone')?.valid && formStudent.get('cellphone')?.touched,
                       'is-invalid': formStudent.get('cellphone')?.invalid && formStudent.get('cellphone')?.touched
                     }">
              <div *ngIf="formStudent.get('cellphone')?.hasError('pattern') && formStudent.get('cellphone')?.touched"
                class="error-message" style="color: red; font-size: 12px; text-align: right;">Formato no valido.</div>
              <div
                *ngIf="formStudent.get('cellphone')?.hasError('minlength') && !formStudent.get('cellphone')?.hasError('pattern') && formStudent.get('cellphone')?.touched"
                class="error-message" style="color: red; font-size: 12px; text-align: right;">El número debe tener 9
                dígitos.</div>
              <div
                *ngIf="formStudent.get('cellphone')?.hasError('maxlength') && !formStudent.get('cellphone')?.hasError('pattern') && formStudent.get('cellphone')?.touched"
                class="error-message" style="color: red; font-size: 12px; text-align: right;">El número debe tener 9
                dígitos.</div>
            </div>
            <!-- Correo -->
            <div class="col-md-12 input-group-sm">
              <label for="email" class="form-label">Correo</label>
              <input type="text" class="form-control" id="email" formControlName="email" [ngClass]="{
                       'is-valid': formStudent.get('email')?.valid && formStudent.get('email')?.touched,
                       'is-invalid': formStudent.get('email')?.invalid && formStudent.get('email')?.touched
                     }">
              <div *ngIf="formStudent.get('email')?.hasError('pattern') && formStudent.get('email')?.touched"
                class="error-message" style="color: red; font-size: 12px; text-align: right;">Correo no válido.</div>
            </div>
            <!-- Tipo de documento -->
            <div class="col-md-4 input-group-sm">
              <label for="documentType" class="form-label">Tipo documento*</label>
              <select class="form-select" aria-label="Seleccionar" id="documentType" [compareWith]="compareFn"
                formControlName="documentType" [ngClass]="{
                  'is-valid': formStudent.get('documentType')?.valid && formStudent.get('documentType')?.touched,
                  'is-invalid': formStudent.get('documentType')?.invalid && formStudent.get('documentType')?.touched
                }">
                <option value="" selected>Selecciona tipo documento</option>
                <option *ngFor="let docType of documentTypes" [ngValue]="docType">{{ docType.nameDocument }}</option>
              </select>
              <div
                *ngIf="formStudent.get('documentType')?.hasError('required') && formStudent.get('documentType')?.touched"
                class="error-message" style="color: red; font-size: 12px; text-align: right;">Campo obligatorio.</div>
            </div>

            <!-- Número de documento -->
            <div class="col-md-6 input-group-sm">
              <label for="documentNumber" class="form-label">N° Documento*</label>
              <input type="text" class="form-control" id="documentNumber" formControlName="documentNumber">
              <!-- Mensajes de error -->
              <div
                *ngIf="formStudent.get('documentNumber')?.hasError('required') && formStudent.get('documentNumber')?.touched"
                class="error-message" style="color: red; font-size: 12px; text-align: right;">Campo obligatorio.</div>
              <div
                *ngIf="formStudent.get('documentNumber')?.hasError('pattern') && formStudent.get('documentNumber')?.touched"
                class="error-message" style="color: red; font-size: 12px; text-align: right;">Solo se aceptan números.
              </div>
              <div
                *ngIf="formStudent.get('documentNumber')?.hasError('invalidLengthDNI') && formStudent.get('documentNumber')?.touched"
                class="error-message" style="color: red; font-size: 12px; text-align: right;">Para DNI, debe tener 8
                dígitos.</div>
              <div
                *ngIf="formStudent.get('documentNumber')?.hasError('invalidLengthCE') && formStudent.get('documentNumber')?.touched"
                class="error-message" style="color: red; font-size: 12px; text-align: right;">Para CE, debe tener 12
                dígitos.</div>
            </div>


            <!-- Ubigeo -->
            <div class="col-md-6 input-group-sm">
              <label for="ubigeo" class="form-label">Ubigeo*</label>
              <select class="form-select" aria-label="Seleccionar" id="ubigeo" [compareWith]="compareFn"
                formControlName="ubigeo" [ngClass]="{
                  'is-valid': formStudent.get('ubigeo')?.valid && formStudent.get('ubigeo')?.touched,
                  'is-invalid': formStudent.get('ubigeo')?.invalid && formStudent.get('ubigeo')?.touched
                }">
                <option value="" selected>Selecciona Ubigeo</option>
                <option *ngFor="let ubigeo of ubigeos" [ngValue]="ubigeo">{{ ubigeo.district }}</option>
              </select>
              <div *ngIf="formStudent.get('ubigeo')?.hasError('required') && formStudent.get('ubigeo')?.touched"
                class="error-message" style="color: red; font-size: 12px; text-align: right;">Campo obligatorio.</div>
            </div>

            <!-- Grado -->
            <div class="col-md-4 input-group-sm">
              <label for="grade" class="form-label">Grado*</label>
              <select class="form-select" aria-label="Seleccionar" id="grade" [compareWith]="compareFn"
                formControlName="grade" [ngClass]="{
                  'is-valid': formStudent.get('grade')?.valid && formStudent.get('grade')?.touched,
                  'is-invalid': formStudent.get('grade')?.invalid && formStudent.get('grade')?.touched
                }">
                <option value="" selected>Selecciona el grado</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
              <div *ngIf="formStudent.get('grade')?.hasError('required') && formStudent.get('grade')?.touched"
                class="error-message" style="color: red; font-size: 12px; text-align: right;">Campo obligatorio.</div>
            </div>

            <!-- Sección -->
            <div class="col-md-4 input-group-sm">
              <label for="section" class="form-label">Seccion*</label>
              <select class="form-select" aria-label="Seleccionar" id="section" [compareWith]="compareFn"
                formControlName="section" [ngClass]="{
                  'is-valid': formStudent.get('section')?.valid && formStudent.get('section')?.touched,
                  'is-invalid': formStudent.get('section')?.invalid && formStudent.get('section')?.touched
                }">
                <option value="" selected>Selecciona el seccion</option>
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
              </select>
              <div *ngIf="formStudent.get('section')?.hasError('required') && formStudent.get('section')?.touched"
                class="error-message" style="color: red; font-size: 12px; text-align: right;">Campo obligatorio.</div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btnCancelar"
                (click)="editCancel()">Cancelar</button>
              <button type="submit" class="btn btn-primary" id="btnGuardar" data-bs-dismiss="modal">Guardar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
