<header class="header">
	<div class="header__container">
		<img src="assets/image/perfil.jpg" alt="" class="header__img">
		<a href="#" class="header__logo">ScavOnTime</a>
		<div class="header__toggle">
			<i class='bx bx-menu' id="header-toggle"></i>
		</div>
	</div>
</header>

<div class="nav" id="navbar">
  <nav class="nav__container">
      <div>
          <a href="#" class="nav__link nav__logo">
              <i class='bx bxs-disc nav__icon' ></i>
              <span class="nav__logo-name">ScavOnTime</span>
          </a>

          <div class="nav__list">
              <div class="nav__items">
                  <h3 class="nav__subtitle">Inicio</h3>

                  <a routerLink="/inicio" routerLinkActive="active" class="nav__link active">
                      <i class='bx bx-home nav__icon' ></i>
                      <span class="nav__name">Inicio</span>
                  </a>
              </div>

              <div class="nav__items">
                  <h3 class="nav__subtitle">Administración</h3>

                  <a routerLink="/list-teacher" routerLinkActive="active" class="nav__link">
                      <i class='bx bxs-user-detail nav__icon'></i>
                      <span class="nav__name">Docente</span>
                  </a>
                  <a routerLink="/list-student" routerLinkActive="active"class="nav__link">
                      <i class='bx bxs-user nav__icon'></i>
                      <span class="nav__name">Estudiante</span>
                  </a>
              </div>

              <div class="nav__items">
                  <h3 class="nav__subtitle">Asistencias</h3>

                  <a routerLink="/asistencia-estudiante" routerLinkActive="active" class="nav__link">
                      <i class='bx bx-notepad nav__icon' ></i>
                      <span class="nav__name">Estudiantes</span>
                  </a>
                  <a routerLink="/assistance-teacher" routerLinkActive="active" class="nav__link">
                      <i class='bx bxs-file-doc nav__icon' ></i>
                      <span class="nav__name">Docentes</span>
                  </a>
              </div>
          </div>
      </div>

      <a href="#" class="nav__link nav__logout">
          <i class='bx bx-log-out nav__icon' ></i>
          <span class="nav__name">Log Out</span>
      </a>
  </nav>
</div>

<div>
  <router-outlet></router-outlet>
</div>
